
.container {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

table, th, td {
    border: 1px solid black;
}

.species-table {
  border: 1px solid black;
  width: 100%;
  border-collapse: collapse;
}

.table-name {
  font-size: 32px;
  margin-bottom: 10px;
}

.add-new-species {
  margin-top: 10px;
}

.search-input {
  width: 200px;
}

.fish-image {
  width: 56px;
  height: 22px;
}

button {
  border: 0px;
  color: white;
  cursor: pointer;
}

.delete-btn {
  background-color: #ff6600;
}

.edit-btn {
  background-color: #008CBA;
}

.update-btn {
  background-color: #4CAF50;
}
